*.DS_Store
*.swp
*~
*.class
*.tasty

.bloop
.dotty-ide-artifact
.dotty-ide.json
*.csv
*.dat

messageBroker/target/
messageBroker/logs/
messageBroker/.bsp
messageBroker/.idea
messageBroker/.metals
messageBroker/.vscode

client/target/
client/logs/
client/.bsp
client/.idea
client/.metals
client/.vscode

producer/target/
producer/logs/
producer/.bsp
producer/.idea
producer/.metals
producer/.vscode

.idea

runRTP.sh