*.DS_Store
*.swp
*~
*.class
*.tasty
messageBroker/target/
messageBroker/logs/
.bloop
messageBroker/.bsp
.dotty-ide-artifact
.dotty-ide.json
messageBroker/.idea
messageBroker/.metals
messageBroker/.vscode
*.csv
*.dat

client/target/
client/logs/
client/.bsp
client/.idea
client/.metals
client/.vscode

producer/target/
producer/logs/
producer/.bsp
producer/.idea
producer/.metals
producer/.vscode

.idea

*.sh