*.DS_Store
*.swp
*~
*.class
*.tasty

.bloop
.dotty-ide-artifact
.dotty-ide.json
*.csv
*.dat

**/target/
**/logs/
**/.bsp
**/.idea
**/.metals
**/.vscode

**/project/project/
**/project/target/
**/target

.idea

runRTP.sh